.PageError {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.message {
    font-size: 20px;
    color: var(--primary-color);
}

.actions {
    display: flex;
    gap: 12px;
}


